<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
</head>
<body>
	<h1>Hi NodeJS</h1>
	<p>This is written in EJS</p>
	<!-- "/" means inside "public" -->
	<img src="/images/mushroom.jpg" alt="Mushroom Pic">
</body>
</html>